anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
chardet
charset-normalizer
colorama
comm
crispy-bootstrap5
debugpy
decorator
defusedxml
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
executing
fastjsonschema
filelock
fqdn
h11
httpcore
httpx
idna
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
MarkupSafe
matplotlib-inline
MouseInfo
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-python
overrides
packaging
pandas
pandocfilters
parso
pillow
pipenv
platformdirs
prometheus_client
prompt_toolkit
psutil
psycopg2
pure_eval
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyperclip
PyRect
PyScreeze
pytesseract
python-dateutil
python-dotenv
python-json-logger
pytweening
pytz
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
reportlab
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
setuptools
six
sniffio
soupsieve
sqlparse
stack-data
terminado
tinycss2
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension